body{
background-color: rgb(58, 64, 75);    
}

h1{
    color: gray;

}

h2{
    color: gray;
}

h3{
    color: aliceblue;

}

p{
    color:greenyellow;
    border: 2px solid greenyellow;
}

pre{
    color: white;
    border: 2px greenyellow
    
}


img{

    background-color: rgb(103, 104, 109);
}

address{
    color: aliceblue;
}
